.list:not(:last-child) {
  gap: 12px;
  padding: 12px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid rgb(12, 12, 12);
  padding: 20px;
  gap: 8px;
  width: 400px;
}

.errorMessage {
  color: rgb(177, 23, 23);
  margin: 0;
}

.text {
  padding: 2px 8px;
  border: 1px solid #010101;
}

.text:hover,
.text:focus {
  border-color: #646cff;
  outline: none;
}

.btn {
  background-color: var(--secondary-button-color);
  margin-top: 12px;
}

.btn:hover {
  background-color: var(--secondary-button-color);
  transform: scale(1.05);
}
